/*Color Purple Material*/
/* #7028e4 */

/*====================================================
Buttons
====================================================*/
a.fill {
  display: inline-block;
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.up {
  /* --color: #e4cb58;
  --hover: #fbd46d; */
  --color: rgba(112, 40, 228, 1);
  --hover: rgba(112, 40, 228, 1);
}

.slide {
  --color: #fd5e53!important;
  --hover: #fa163f!important;
}

button.btn,
a.btn {
  color: var(--color)!important;
  transition: 0.25s;
}
.btn:hover, .btn:focus
/* a:hover, a:focus */ {
  border-color: var(--hover)!important;
  color: #fff!important;
  /*quitar decoracion de textp a Link*/
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto;
}
/* @media screen and (min-width: 1200px) {
  .buttons{
    width: 400px;
  }
} */

/* button, a { */
/* button.btn,
a.btn {
  background: none;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
} */
button.btn,
a.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  /* color: #7028e4; */
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  border: none;
  background: none;
  outline: none;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  border-color: var(--color)!important;
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.btn.slide:hover,
.btn.slide:focus,
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

/*====================================================
Table
====================================================*/

table {
  /* background: #f5f5f5; */
  /* box-shadow: 0 10px 20px rgba(112, 40, 228, 0.5); */
  border: 1px solid rgba(112, 40, 228, 0.7);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 400px;/*adecuamos la tabla al tamaño client*/
  table-layout: fixed;
  /* z-index: -2; */
}
/*todos al mismo tamaño, botones, etc*/
.client {
  width: 400px;
}

h4 span {
  font-size: 1.5em;
  margin: 10em auto;
  display: inline;
  text-align: center;
}

table tr {
  background-color: #fdcbf1 20%;
  border: 1px solid rgba(112, 40, 228, 0.7);
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table {
  border: 0;
}

h4 span {
  font-size: 1.3em;
}

table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  border-bottom: 3px solid rgba(112, 40, 228, 0.7);
  display: block;
  margin-bottom: 0.625em;
}

table td {
  border-bottom: 1px solid rgba(112, 40, 228, 0.5);
  display: block;
  font-size: 0.8em;
  text-align: right;
}

table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:last-child {
  border-bottom: 0;
}
@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}

/***Términos y condiciones***/
.message {
  /* margin: 15px 0 0; */
  color: #b3b3b3;
  font-size: 12px;
  justify-content: space-evenly;
}
.politica {
  display: inline;
  border: none;
  color: #a972cb;
  text-decoration: none;
}
.politica:hover {
  color: #7028e4;
  text-decoration: none;
}

/****Customizando Swet alert2***/
button.swal2-confirm {
  justify-content: space-between;
}
button.swal2-confirm.swal2-styled {
  border-radius: 16px;
  background-color: #fa163f;
}
button.swal2-cancel.swal2-styled {
  border-radius: 16px;
}
h2#swal2-title.swal2-title {
  color: #fa163f;
}

div.swal2-actions {
  /* display: flex; */
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
